@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:  207, 232, 252;
  --background-start-rgb: 207, 232, 252;
  --background-end-rgb: 207, 232, 252;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb:  207, 232, 252;
    --background-start-rgb: 207, 232, 252;
    --background-end-rgb: 207, 232, 252;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Definindo cor sólida */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
